.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
	position: relative;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 10px;
	overflow: hidden;
	background: linear-gradient(90deg, #BC290A, #0A92BC, #C9D31F);
	background-repeat: no-repeat;
	background-size: 100%;
	animation: animate 2s linear infinite;
	WebkitBackgroundClip: "text !important"
  
}
body{
	margin: 0;
	padding: 0;
	background-color: white;
	/*overflow: hidden;*/
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

button{
	outline: none;
}
/*login page*/

#logo {
	width: 120px;
	padding: 30px;
	margin-left: 80px;
}

#right {
	float: right;
	padding: 40px;
	width: 160px;
	color: white;
	font-size: 18px;
	font-family: monospace;
	margin-right: 80px;
	margin-top: 6px;
}

#msg{
	color: white;
	font-size: 25px;
	text-align: center;
	font-family: arial;
}

.skew {
    background: #235cce;

}
.skew:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #235cce;
    transform-origin: right top;
    transform: skew(0deg, -4deg);
    box-shadow: 0px 1px 2px 0px #ccc;
}

/*slider message*/
.theme { 
	width: 100%;
	height: 80px;
	margin: auto;
	font-family: 'Open Sans', 'sans-serif';
	color: black;
	overflow: hidden;
	text-align: left;
}

.item-1, 
.item-2, 
.item-3,
.item-4,
.item-5,
.item-6 {
	position: relative;
  	display: block;
  	width: 100%;
  	margin: auto;
 	font-size: 2.5em;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { top: -100%; opacity: 0; }
  8.3%,25% { top: 0%; opacity: 1; }
  33.33%, 100% { top: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { top: -100%; opacity: 0; }
  41.63%, 58.29% { top: -60%; opacity: 1; }
  66.66%, 100% { top: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { top: -100%; opacity: 0; }
  74.96%, 91.62% { top: -120%; opacity: 1; }
  100% { top: 110%; opacity: 0; }
}


/*Home Page---------------------------------------------------*/

		.one-a{
			display: flex;
			flex-direction: row;
		}
		.two{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

		}

		.two div{
			text-align: center;
		}
		.two-span{
			font-size: 18px;
			font-weight: bold;
		}
		.one-b{
			position: relative;
			margin: 10px; 
			left:5%;
			top:75px;
			

		}
		.one-e{
			position: relative;
			margin: 10px; 
			left:50%;
			top:5px;

		}
		.one-bc{
			position: relative;
			margin: 10px; 
			
			top:25px;
		}
		.one-f{
			position: relative;
			margin: 10px; 
			
			top:25px;

		}
		.t{
			position: relative;
			left:5%;
			top:80px;
		}
		.k{
			position: relative;
			left:15%;
			top:80px;
		}
		.l{
			position: relative;
			left:25%;
			top:80px;
		}
		.login{
         background-color: #ffffff;
         color: black;
		}
		.signup{
			background-color: #0a0a0a;
			color: white;
		}
		.button {
		  
		  border: none;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
		}

		#locality-select{
			width: 42.5em;
			height: 3em;
			border:1px solid #96ce63;
			background-color: white;
			outline: none;
			padding: 0 10px;
			color: black;
			cursor: pointer;
			margin-left: 0;
		}
		#locality-home a{
			text-decoration: none;
			color: #333;
			margin-right: 5px;
		}





/*Signup modal-----------------------------------------------------------------------*/

	.one1{
		position: relative;
			margin: 10px; 
			left:2%;
			top:20px;

	}
	.f1{
		position: relative;
			margin: 10px; 
			margin-top: 0px;
			top:0px;

	}
	.two2{
		position: relative;
			margin: 10px; 
			left:2%;
			bottom: 25px;
			

	}
	.three3{
		position: relative;
			margin: 10px; 
			left:2%;
			bottom: 400px;


	}
	.four4{
		position: relative;
			margin: 1px; 
			left:2%;
			bottom: 400px;


	}
	.five5{
		position: relative;
			margin: 10px; 
			left:2%;
			bottom: 400px;
	}
	.six6{
		position: relative;
			margin: 10px; 
			left:2%;
			bottom: 400px;
	}

.signup1{
	 	border: none;
		padding: 15px 148px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 9px;
		cursor: pointer;
		background-color: #1cb54d;
		color: white;
	}
.ten1{
		position: relative;
		margin: 10px; 
		left:65%;
		bottom: 120px;
	}


#signup-modal{
	background-color: rgba(0,0,0,.4);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;

}

#signup-box{
	background-color: white;
	width: 35%;
	float: right;
	padding-left: 40px;
}

#signup-box input{
	width: 83% !important;
	padding-left: 8px;
	font-size: 15px !important;
}


/*login modal-------------------------------------------------------*/

	.one0{
		position: relative;
			margin: 10px; 
			left:2%;
			top:20px;

	}
	.f{
		position: relative;
			margin: 10px; 
			
			top:20px;

	}
	.two0{
		position: relative;
			margin: 10px; 
			left:2%;
			bottom: 5px;
			

	}
	.three0{
		position: relative;
			margin: 10px; 
			left:2%;
			bottom: 350px;


	}
	.four0{
		position: relative;
			margin: 10px; 
			left:2%;
			bottom: 350px;


	}
	.ten0{
		position: relative;
			margin: 10px; 
			left:63%;
			bottom: 95px;


	}

.Login0{
	 border: none;
  
		  padding: 15px 174px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
			background-color: #1cb54d;
			color: white;
		}

#login-modal{
	background-color: rgba(0,0,0,.4);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;

}

#login-box{
	background-color: white;
	width: 35%;
	float: right;
	padding-left: 40px;
}

#login-box input{
	width: 84% !important;
	padding-left: 8px;
	margin-bottom: 20px;
	font-size: 15px !important;
}


/*------------------------------------Dashboard----------------------------------------*/

#myvideo{
	/*position: fixed;*/
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 80%;

}

header{
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 10000;
	box-shadow: 0px 2px 5px 0px rgba(112,112,112,.8);

}

header li{
	display: inline-block;
}

header ul{
	margin: 0;
}
li:nth-of-type(2),li:nth-of-type(3){
	float: right;
	padding: 15px 20px;
	font-size: 20px;
	color: #4487f5;
}

li:nth-of-type(2){
	background-color: #462;
	color: white;
}

header img{
	margin-top: 3px;
}

#locality{
	position: absolute;
	left: 52%;
	top: 18%;
	/*transform: translate(-50%,-50%);*/
}

#locality select{
	width: 40em;
	height: 3em;
	border: 2px solid #7aa454;
	background-color: white ;
	outline: none;
	padding: 0 10px;
	color: black;
	cursor: pointer;
}


/*#locality input::-webkit-input-placeholder {
    font-size: 18px;
    color: white;
}*/

#highlight {
	background-color: rgba(91, 199, 88,.4);
	padding: 50px 50px;
}


#section1{
	width: 70%;
	padding: 50px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#section1 .card{
	/*background: linear-gradient(rgba(240,240,240,.9),rgba(240,240,240,.9)), url("../images/bg.jpg");*/
	background-size: cover;
	background-color: white;
	width: 280px;
	text-align: left;
	/*box-shadow: 0px 2px 4px 0px rgba(112,112,112,.1);*/
	margin: 40px 30px;
}

#section1 .card #quantity{
	width: 40%;
	float: left;
	padding: 10px 15px;
	color: black;
	font-weight: bolder;
	font-size: 12px;
	outline: none;
	cursor: pointer;
}

#section1 .card #quantity input{
	width: 40px;
	border: none;
	text-align: center;
	outline: none;
}

#section1 .card button{
	border: none;
	float: right;
	border: 1px solid #bbb;
	background-color: white;
	padding: 8px 0;
	font-weight: 750;
	width: 80px;
	color: #64a22d;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
}

.card p:first-of-type{
	font-size: 16px;
	font-weight: bolder;
	color: #333;
}

.card p{
	padding-left: 20px;
}
.card img{
	height: 205px;
	width: 100%;
}

.card p:last-of-type{
	color: #666;
	margin: 0;
	padding: 5px 20px;
	
}

h2{
	margin: 0;
	margin-top: 70px;
	margin-left: 130px;
	font-family: arial;
	text-transform: uppercase;
	color: #4553df;
	font-weight: normal;
}
li{
	cursor: pointer;
}

footer{
	background-color: black;
}

footer p{
	margin: 0;
	padding: 15px 20px;
	color: white;
}

.orders{
	position: absolute;
	top:800px;
	left: 65%;
	width: 30%;
	height: 50%;
	/*background-color: rgba(0,0,0,.6);*/
}

.orders div{
	background-color: white;
	padding: 0px 50px;
	color:#333;
}
.p1 {
	position: relative;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 10px;
	overflow: hidden;
	background: linear-gradient(90deg, #BC290A, #0A92BC, #C9D31F);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 2s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
  }